In [9]:
import pandas as pd
import numpy as np
import math

In [2]:
data = pd.read_csv('Data set CSV.csv')
data.head()

   City             x             y
0     1  5.500000e-08  9.860000e-09
1     2 -2.887330e+01 -7.980000e-08
2     3 -7.929160e+01 -2.140330e+01
3     4 -1.465770e+01 -4.338960e+01
4     5 -6.474730e+01  2.189820e+01

In [29]:
class City:
    def __init__(self, name, longitude, latitude):
        self.name = name
        self.longitude = longitude
        self.latitude = latitude

    def __str__(self):
        return f"{self.name,self.longitude,self.latitude}"

In [30]:
cities = [City(row['City'], row['x'], row['y']) for index, row in data.iterrows()]

In [58]:
cities[14].name

15.0

In [59]:
def choose_start_point(cities): #, start_city
    for city in cities:
        if city.name == 15.0:
            return city

In [33]:
def calculate_distance(city1, city2):
    
    return math.sqrt((city1.longitude - city2.longitude)**2 + (city1.latitude - city2.latitude)**2)

In [34]:
def check_stop_condition(visited, cities):
    
    return len(visited) == len(cities)

In [42]:
#function to run the TSP
def knn_tsp(cities): #, desired_start
    
    start_city = choose_start_point(cities) #, desired_start
    current_city = start_city
    visited = [current_city]
    while not check_stop_condition(visited, cities):
        distances = [(calculate_distance(current_city, city), city) for city in cities if city not in visited]
        distances.sort() #make sure youre sorting based on dist
        nearest_city = distances[0][1] 
        visited.append(nearest_city)
        current_city = nearest_city
    visited.append(start_city)  # Return to the start point
    return visited

In [36]:
def calculate_total_distance(route):
    total_distance = 0
    for i in range(len(route) - 1):
        total_distance += calculate_distance(route[i], route[i+1])
    return total_distance

In [61]:
route = knn_tsp(cities) #i have sequence of cities 

total_distance = calculate_total_distance(route)

print("Sequence of cities visited:")
for city in route:
    print(city.name)

print("Total distance traveled:", total_distance)

Sequence of cities visited:
15.0
9.0
5.0
7.0
3.0
12.0
14.0
10.0
8.0
6.0
4.0
11.0
1.0
13.0
2.0
15.0
Total distance traveled: 284.3810904080332